body {

    color: plum;
    background:plum;
     margin: 2px;
    font-family: "Edu VIC WA NT Beginner", cursive;
    margin-bottom: 100px;
}


header {
    border-bottom: solid 2px;
    padding: 10px;
    font-size: 30px;
}

section {

    background: whitesmoke;
    padding-bottom: 50px;
    padding-top: 30px;
    display: ;
    justify-content: center;
}


.chamada-texto {

    margin-right: 20px;

}

h1 {

    font-size: 30px;

}

p {
   font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 05px;
}

.cateorias {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity:0.7;
    height: 200px
}

.categoria-videos img:hover {
    opacity:1.0;
    border: 04px solid plum;
}